{%extends 'base.html'%}
{%block title%}Editar Curso{%endblock%}
{%block body%}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h1>Editar Curso</h1>

        <div class="card">
            <div class="card-body">
                <form action="/actualizarcurso" method="POST">
                    {%csrf_token%}
                    <div class="form-group mt-2">
                        <label for="txtcodigo">Codigo</label>
                        <input type="text" name="txtcodigo" class="form-control" value="{{cursoselec.codigo}}" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="txtnombre">Nombre</label>
                        <input type="text" name="txtnombre" class="form-control" value="{{cursoselec.nombre}}" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="numCreditos">Creditos</label>
                        <input type="number" name="numCreditos" class="form-control" value="{{cursoselec.creditos}}" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="seEspecialidad">Especialidad</label>
                        <select name="seEspecialidad" class="form-control" required>
                            {%for especialidad in especialidades%}
                                {%if especialidad.idEspecialidad == cursoselec.especialidad_id%}
                                    <option selected="selected" value="{{especialidad.idEspecialidad}}" selected>{{especialidad.nombre}}</option>
                                {%else%}
                                    <option value="{{especialidad.idEspecialidad}}">{{especialidad.nombre}}</option>
                                {%endif%}
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label for="seDocente">Docente</label>
                        <select name="seDocente" class="form-control" required>
                            {%for docente in docentes%}
                                {%if docente.idDocente == cursoselec.docente_id%}
                                    <option selected="selected" value="{{docente.idDocente}}" selected>{{docente.nombre}}</option>
                                {%else%}
                                    <option value="{{docente.idDocente}}">{{docente.nombre}}</option>
                                {%endif%}
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success form-control" name="btnEditar">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Cursos</h1>
        <div class = "table-respnsive py2">
            <table class="table table-hover table-bordered table-primary">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Creditos</th>
                        <th>Especialidad</th>
                        <th>Docente</th>
                        <th colspan="2">Opciones de Manejo</th>
                    </tr>
                </thead>
                <tbody>
                    {%for curso in cursos%}
                        <tr>
                            <td>{{curso.codigo}}</td>
                            <td>{{curso.nombre}}</td>
                            <td>{{curso.creditos}}</td>
                            <td>{{curso.especialidad}}</td>
                            <td>{{curso.docente}}</td>
                            <td><a href="{% url 'Academico:editarcurso' curso.codigo %}" class="btn btn-info">Editar</a></td>
                            <td><a href="{% url 'Academico:eliminarcurso' curso.codigo %}" class="btn btn-danger">Eliminar</a></td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{%endblock%}