{%extends 'base.html'%}
{%block title%}Gestion de Docentes{%endblock%}
{%block body%}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h1>Gestion de Docentes</h1>

        <div class="card">
            <div class="card-body">
                <form action="/registrardocente" method="POST">
                    {%csrf_token%}
                    <div class="form-group mt-2">
                        <input type="text" name="txtidDocente" placeholder="idDocente" class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <input type="text" name="txtapellido" placeholder="Apellido" class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <input type="text" name="txtnombre" placeholder="Nombre" class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <input type="date" name="txtfingreso" placeholder="Fecha de Ingreso" class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <input type="text" name="txtdni" placeholder="DNI" class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <input type="text" name="txttelefono" placeholder="Telefono" class="form-control">
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success form-control" name="btnGuardar">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Docentes</h1>
        <div class = "table-respnsive py2">
            <table class="table table-hover table-bordered table-primary">
                <thead>
                    <tr>
                        <th>IdDocente</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Fecha de Ingreso</th>
                        <th>DNI</th>
                        <th>Telefono</th>
                        <th colspan="2">Opciones de Manejo</th>
                    </tr>
                </thead>
                <tbody>
                    {%for docente in docentes%}
                    <tr>
                        <td>{{docente.idDocente}}</td>
                        <td>{{docente.apellido}}</td>
                        <td>{{docente.nombre}}</td>
                        <td>{{docente.fingreso}}</td>
                        <td>{{docente.dni}}</td>
                        <td>{{docente.telefono}}</td>
                        <td>
                            <a href="{%url 'Academico:editardocente' docente.idDocente%}" class="btn btn-info">Editar</a>
                        </td>
                        <td>
                            <a href="{%url 'Academico:eliminardocente' docente.idDocente%}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock%}